<div class="row g-1">
    <div class="col">
        <button type="submit" class="btn btn-primary mt-1 w-100">Ок</button>
    </div>

    <div class="col">
        <button id="cancelButton" type="button" class="btn btn-secondary mt-1 w-100">Назад</button>
    </div>
</div>