@page
@model Disable2faModel
@{
    ViewData["Title"] = "Вимкнути двофакторну автентифікацію (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ця дія вимикає лише 2FA.</strong>
    </p>
    <p>
        Вимкнення 2FA не змінює ключі, які використовуються в програмах автентифікації. Якщо ви хочете змінити ключ
        використовується в програмі автентифікатора, вам слід <a asp-page="./ResetAuthenticator">скинути ключі автентифікатора.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Вимкніть 2FA</button>
    </form>
</div>
