body {
    min-height: 100vh;
    overflow-x: hidden;
}

.scrollable {
    height: 93vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

    .scrollable::-webkit-scrollbar {
        width: 10px;
        /* height: 8px; */
    }

    .scrollable::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollable::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 3px;
    }

        .scrollable::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


.text-container {
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflowing content */
  text-overflow: ellipsis; /* Display an ellipsis (...) if the text overflows */
}

textarea {
    resize: none;
    overflow: hidden;
    height: 1em;
    max-height: auto;
}

/*.card-body {
    display: block;*/
/* or inline-block */
/*text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 7em;
    line-height: 1.8em;
}*/